body {
    margin: 0.0000001em;
    font-family: Arial Black sans-serif;
    background: cornsilk;
    text-align: left;
}

* {
    padding: 0;
    margin: 0 auto;
}

.article {
    max-width: 680px;
    font-family: sans-serif;
    padding: 24px;
    background: rgba(255, 0, 0, 0.000000001);
}

.article__heading {
    margin: 0 0 1.5rem 0;
    color: palevioletred
}

.article__lead {
    margin: 16px 0;
    font-weight: 700;
    text-transform: uppercase;
    font-style: italic;
    font-family: sans-serif;
}

.article__figure {
    margin-top: 16px;
    margin-right: 0;
}

.figure__image {
    margin-bottom: 8px;
    width: 100%;
}

.figure__caption {
    font-family: sans-serif;
    font-style: italic;
    text-align: center;
}

